<!--[if lt IE 6]> 
<style type="text/css"> 
.z3_ie_fix{ 
float:left; 
} 
</style> 
<![endif]--> 
<style type="text/css"> 
<!-- 
body{ 
background:none; 
} 
a{
TEXT-DECORATION:none
}
.Building{ 
border:1px; 
width:400px; 
height:100px; 
position:absolute; 
left:49.9%; 
top:39.9%; 
margin-left:-200px; 
margin-top:-55px; 
font-size:20px; 
text-align:center; 
line-height:30px; 
} 
.Version{ 
border:1px; 
width:400px; 
height:100px; 
position:absolute; 
left:49.9%; 
top:10%; 
margin-left:-200px; 
margin-top:-55px; 
font-size:20px; 
text-align:center; 
line-height:30px; 
} 
.Versionfooter{ 
margin-top:1439px; 
font-size:20px; 
text-align:center; 
} 
--> 
</style> 